@import '../../styling/theme.scss';

$shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

.greyOverlay {
    position: absolute;
    background-color: #000D;
    height: 100%;
    width: 100%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    #background {
        background-color: $black;
        width: 90%;
        max-width: 400px;
        height: 60%;
        max-height: 620px;
        border-radius: 5%;
        h3{
            text-align: center;
            margin: 0px;
            margin-top: 2%;
            height: 5%;
        }
        .pointGrid {
            display: grid;
            height: 20%;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 50px;
            min-height: 75px;
            div {
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                div {
                    box-shadow: $shadow;
                    border-radius: 30%;
                    background-color: $black;
                    height: 60px;
                    width: 60px;
                    p {
                        font-size: 25px;
                    }
                }
            }
        }
        .selectTeamGrid {
            display: grid;
            grid-template-columns: 45% 10% 45%;
            height: 30%;
            text-align: center;
            div {
                display: inline-grid;
                justify-items: center;
                align-items: center;
                grid-template-columns: 50% 50%;
                columns: 2;
                .multiselect-container {
                    grid-column: 1/3;
                }
                img {
                    height: 60px;
                    padding: 10px;
                    border-radius: 50%;
                    align-self: center;
                }
                h4 {
                    height: 110px;
                } 
            }
        }
        .teamsGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
            height: 28%;
            .playerGrid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 5px;
                align-items: center;
                justify-items: center;
                text-align: center;
                h4 {
                    text-align: bottom;
                    color: $green;
                    height: 30px;
                    margin: 0%;
                }
                div {
                    box-shadow: $shadow;
                    border-radius: 50%;
                    background-color: $black;
                    height: 40px;
                    width: 40px;
                    input {
                        margin: 0%;
                        padding: 0%;
                        width: 40px;
                        height: 40px;
                        background: transparent;
                        border-color: transparent;
                        text-align: center;
                        color: $white;
                    }
                    input:focus {
                        outline-color: transparent;
                        outline-width: 0px;
                    }
                    input:hover{
                        border-radius: 50%;
                        border-color: $red;
                    }
                }
                img {
                    border-radius: 50%;
                    max-height: 40px;
                }
            }
        }
        .buttonHolder{
            width: 100%;
            height: 15%;
            button {
                margin-top: 2.5%;
                position: absolute;
                left: 50%;
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                background: linear-gradient(150deg, $blue 0%, $green 100%);
                border-radius: 28px;
                border-color: #0000;
                font-family: Arial;
                color: #ffffff;
                font-size: 16px;
                padding: 10px 30px 10px 30px;
                text-decoration: none;
            }
            button:hover {
                background: linear-gradient(150deg, $green 0%, $blue 100%)
            }
            button:focus{
                outline-color: transparent;
                outline-width: 0px;
            }
        }
    }
}

.greyOverlay:focus{
    outline-width: 0px;
    outline-color: transparent;
}