@import '../../styling/theme.scss';

.add-button {
    input, button, button:hover, button:visited, button:active  { border:none; outline:none;} 

    button {
        width: 80px;
        height: 80px;
        border: nome;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        bottom: 20px;
        color: $white;
        
        img {
            height: 40px;
        }
        
        &.red{
            background-image: $primary-red-gradient;
        }
        &.blue{
            background-image: $primary-blue-gradient;
        }
    }
}