@import 'theme';

body {
  margin: 0;
}

html, body, #root {
  height: 100vh;
  overflow: hidden;
}

#root {
  background-color: $black;
  overflow-y: auto;
}

div, span, li, ul {  
  color: $white;
}

a {
  color: $white !important;
  text-decoration: none !important;
}