$black: /*#0e0e10;*/ #1B1B1B;
$white: #ffffff;
$green:  #28a745;
$orange: #faa916;
$red:  #b20000;
$grey: #474747;

$text-black: #595959;

$navColor: #292929;

$cardBackground: /*#19191B;*/ #222222;

$tableBackground: $cardBackground;
$tableHoverBackground: #1E1E1E;
$tableRowBorder: $grey;

$inputBackground: #292929;
$dropdownBackground: #2e3648;
$dropdownHover: #323a4e;

$hoverOrange: #b97e13;

$large-font: 400%;