@import '../../styling/theme.scss';

.notfound {
    font-size: $large-font;
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}